*{
    font-family: 'Raleway', sans-serif;}
.container{
    width: 1300px;}
.top{
    display: flex;    justify-content: space-between;    align-items: center;    margin:40px 0 40px 0;}
.pages{
    display: flex;}
.pages h6{
    font-size: 15px;    margin-top: 7px;}
.pages h6:hover{
    color: #6E9C9F;    cursor: pointer;}
.pages h6:not(:last-child) {
    margin-right: 40px;}
.pn{
    display: flex;}
.pn h6{
    display: flex;    margin: 4px 40px 0 10px;}


section .ordering{
    padding-top: 190px;
}
section .ordering title{
    display: flex;
}
section .ordering a {
    text-decoration: none;    color: black;    margin:0 5px 0 0 ;
}
section .order-registration{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}
section .data h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 47px;
}
section .data{
    display: flex;
    flex-direction: column;
}
section .data label{
    margin-bottom: 35px;
}
section .data input{
    padding:0 200px 16px 0;
    font-size: 20px;
    border: 0;
    border-bottom:1px solid #000000;
    outline:none;
}
section .order .table{
    display: flex;
    justify-content: space-between;
    width: 280px;
    padding: 13px 10px 10px 10px;
    background-color: #E5E5E5;
}
section .order .tab{
    display: flex;
    justify-content: space-between;
    width: 280px;
    padding: 13px 10px 10px 10px;
    background-color: #F1EADC;
}
section .btn button{
    padding: 30px 60px;
    background: #6E9C9F;
    color: white;
    font-size: 20px;
    border: none;
    outline:none;
}
section .order h2{
    font-size: 25px;
    margin-bottom: 40px;
}
section .address{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
}
section .pay h3{
    margin-bottom: 30px;
    font-size: 25px;
}
section .button button{
    padding: 30px 60px;
    background: #6E9C9F;
    color: white;
    font-size: 20px;
    border: none;
    outline:none;
}
section .button{
    margin-top: 30px;
}
section. comment{
    padding-bottom: 50px;
}
section .comment textarea{
    padding:40px 100px 50px 0;
    font-size: 20px;
    border: 0;
    border-bottom:1px solid #000000;
    outline:none;
}
footer .menu{
    background-color: #F1EADC;
    margin-top: 100px;
}
footer .container{
    padding-top:90px ;
    padding-bottom: 104px;
}
footer .end{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
footer .sn{
    display: flex;
    margin-bottom: 30px;
}